language: node_js
node_js:
  - 8
env:
  NODE_ENV = test
services:
  postgresql
before_script:
  psql -c 'create database football_game_test;' -U postgres
scripts:
  node_modules/.bin/knex migrate:latest --env test
  node_modules/.bin/knex migrate:seed run --env
  npm test
#deploy:
#  provider: heroku
#  api_key:
#    secure: process.env.HEROKU_SECRET
